#project-details-title {
    display: flex;
    justify-content: space-between;
    color: #B7202E;
    text-align: left;
    margin-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.plus-icon {
    width: 50px;
    height: 50px;
    margin-right: 10%;
}
.single-project-form {
    margin-left: 300px;
    max-width: 75%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    box-shadow: black 0px 3px 6px;
    margin-bottom: 20px;
}

#project-details-certificate-file {
    max-width: 20%;
}

.photo-space, #project-details-certificate-file {
    display: flex;
    justify-content: flex-end;
    max-width: 40%;
    float: right;
}

.project-details-form-label {
    text-align: left;
    color: #B7202E;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
}
.project-details-form-fields {
    padding: 8px;
    max-width: 40%;
    height: 40px;
}

.project-details-certificate {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    float: right;
}
.funded-col {
    max-width: 10%;
}
.funded-button {
    margin-top: 15px;
}
.submit-button-project-details {
    display: flex;
    justify-content: flex-end;
}
#project-details-save-button {
    background-color:#B7202E;
    color: white;
    width: 150px;
    height: 40px;
    margin: 15px;
}
#project-details-delete-button {
    background-color:grey;
    color: white;
    width: 150px;
    height: 40px;
    margin: 15px;
}
